$box-padding-abbr: 'pd';
$box-padding-important-version: true !default;
$box-padding-non-important-version: true !default;
$box-padding-base: $base-line-height !default;
$box-padding-step: 1 / 4 !default;
$box-padding-limit: 24 !default;
