@mixin generate-helper($prop-abbr, $props, $value-abbr, $values, $non-important: true, $important: true, $template: "{s}") {

  $patterns: "{s}";

  @if $non-important {
    $selector: str-replace-all($template, $patterns, ".#{$ns}-#{$prop-abbr}-#{$value-abbr}");

    #{$selector} {
      @each $selected-prop in $props {
        #{$selected-prop}: $values;
      }
    }
  }

  @if $important {
    $selector: str-replace-all($template, $patterns, ".#{$ns}-#{$prop-abbr}-#{$value-abbr}-#{$ia}");

    #{$selector} {
      @each $selected-prop in $props {
        #{$selected-prop}: $values !important;
      }
    }
  }
}
