$typography-font-abbr: 'fnt';
$typography-font-important-version: true !default;
$typography-font-non-important-version: true !default;
$typography-font-base: $base-font-size !default;
$typography-font-step: 1 / 4 !default;
$typography-font-limit: 4 * 3 !default;
