$box-margin-abbr: 'mr';
$box-margin-important-version: true !default;
$box-margin-non-important-version: true !default;
$box-margin-base: $base-line-height !default;
$box-margin-step: 1 / 4 !default;
$box-margin-limit: 24 !default;
